<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>기본 테이블</h1>
<table border="1">
    <tr>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}" >username</td>
        <td th:text="${user.age}" >age</td>
    </tr>
</table>
<table border="1">
    <tr>
        <th>count</th>
        <th>username</th>
        <th>age</th>
        <th>etc</th>
    </tr>
    <tr th:each="user, userState: ${users}">
        <td th:text="${userState.count}">usercount</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.age}">age</td>
        <td>
            index = <span th:text="${userState.index}"></span>
            count = <span th:text="${userState.count}"></span>
            size = <span th:text="${userState.size}"></span>
            even? = <span th:text="${userState.even}"></span>
            odd? = <span th:text="${userState.odd}" ></span>
            first? = <span th:text="${userState.first}"></span>
            last? = <span th:text="${userState.last}"></span>
            current = <span th:text="${userState.current}"></span>
        </td>
    </tr>

</table>
</body>
</html>